<h1>Editing Restaurent</h1>

<%= render 'form', restaurent: @restaurent %>

<%= link_to 'Show', @restaurent,class: "btn btn-danger" %> |
<%= link_to 'Back', restaurents_path,class: "btn btn-danger" %>
